//----------------- COLOR VARIABLES -----------------//
$color-copy: #57514b;
$color-black: #171215;
$color-blue: #15b5df;
$color-light-gray-1: #efeeef; //used for box-shadow on
$color-light-gray-2: #cac9ca; // used for btn border
$color-light-gray-3: #e3e2e3;

$color-white: #fff;

//----------------- FONT VARIABLES -----------------//
$font-primary: "Montserrat", sans-serif;
$font-heading: "Playfair Display", serif;

//----------------- FONT VARIABLES -----------------//
$grid-width: 114rem;
$gutter-vertical: 5rem;
$gutter-horizontal: 1rem;
