.header {
  padding: 5rem 0 10rem;
  position: relative;
  overflow: hidden;
  background-color: #fff;
  width: 100%;

  .social {
    font-size: 3rem;
    @include respond(tab-port) {
      float: none;
      text-align: center;
    }
    a:link,
    a:visited {
      color: rgba($color-white, 0.8);
      text-decoration: none;
    }

    a:hover,
    a:active {
      color: $color-white;
    }
  }

  @include respond(tab-port) {
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.7)
      ),
      url(/img/tiles-bg.jpg);
    background-size: contain;
    background-position: 50rem;
    background-repeat: no-repeat;
  }

  @include respond(phone) {
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.7)
      ),
      url(/img/tiles-bg.jpg);
    background-size: contain;
    background-position: 20rem;
    background-repeat: no-repeat;
  }

  @include clearfix;
}

.logo {
  height: 3.6rem;
  width: auto;
  float: left;
  margin-top: 2rem;
}

.hero {
  position: relative;
}

.intro-box {
  position: relative;
  z-index: 2;
  @include clearfix;

  .intro-text {
    width: 90%;
    margin: 2rem 0 2.5rem 0;

    @include respond(phone) {
      width: 100%;
    }
  }
}

//Navigation Menu

.navigation {
  float: right;
  z-index: 20;
  position: relative;
  &__checkbox {
    display: none;
  }

  &__button {
    background-color: #fff;
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    z-index: 16;
    box-shadow: 0 1rem 3rem rgba(#000, 0.1);
    text-align: center;
    cursor: pointer;
    display: block;
    position: relative;
  }

  &__nav {
    height: 100vh;
    // width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 15;
    background: $color-blue;
    opacity: 0;
    width: 0;
    transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1);
    visibility: hidden;
  }

  &__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    ul {
      list-style-type: none;
    }
  }

  &__item {
    margin: 1rem;
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      font-size: 3rem;
      font-weight: 300;
      padding: 1rem 3rem;
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
      background-image: linear-gradient(
        120deg,
        transparent 0%,
        transparent 50%,
        #fff 50%
      );
      background-size: 220%;
      transition: all 0.4s;
      backface-visibility: hidden;
    }
    &:hover,
    &:active {
      background-position: 100%;
      color: $color-blue;
      transform: translateX(1rem);
    }
  }
  // Functionality
  &__checkbox:checked ~ &__background {
    transform: scale(80);
  }
  &__checkbox:checked ~ &__nav {
    opacity: 1;
    width: 100%;
    visibility: visible;
  }
  // Icon
  &__icon {
    position: relative;
    margin-top: 3.5rem;
    // margin-left: 1rem; // transform: rotateY(180deg); // transition: all 0.4s;
    z-index: 30;
    &,
    &::before,
    &::after {
      width: 3rem;
      height: 2px;
      background-color: #000;
      display: inline-block;
    }
    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0; // transition: all 0.4s;
    }
    &::before {
      // width: 2.5rem;
      top: -0.8rem;
    }
    &::after {
      // width: 3rem;
      top: 0.8rem;
    }
  }
  &__button:hover &__icon {
    transition: none;
  }
  &__button:hover &__icon::before,
  &__button:hover &__icon::after {
    width: 3rem;
    margin-left: 0;
    transition: all 0.4s;
  }
  &__button:hover &__icon::before {
    width: 3rem;
    // top: -1rem;
  }
  &__checkbox:checked + &__button {
    overflow: hidden;
  }
  &__checkbox:checked + &__button &__icon {
    background-color: transparent;
  }
  &__checkbox:checked + &__button &__icon::before {
    width: 3rem;
    top: 0;
    transform: rotate(135deg);
  }
  &__checkbox:checked + &__button &__icon::after {
    top: 0;
    width: 3rem;
    transform: rotate(-135deg);
  }
}
