.mt4 {
  margin-top: 4rem;
}

.mt10 {
  margin-top: 10rem;
  @include respond(tab-port) {
    margin-top: 0;
  }
}

.pt5 {
  padding-top: 5rem;
}

.pb10 {
  padding-bottom: 10rem;
}

.pt15 {
  padding-top: 15rem;
}

.txt-center {
  text-align: center;
}

.x-center {
  // margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
}
.w70 {
  width: 70%;
}
